<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <root>
    <level value="ALL"/>
    <appender-ref ref="LogFileAppender"/>
    <appender-ref ref="Console"/>
  </root>

  <logger name="ErrorLogger" additivity="false">
    <appender-ref ref="Error"/>
    <level value="ERROR"/>
  </logger>

  <appender name="Error" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs\Error.log"/>
    <param name="AppendToFile" value="true"/>
    <datePattern value="yyyyMMdd"/>
    <rollingStyle value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss.fff} %-12c{1} [%type{1}.%method @ %line] %m%n"/>
    </layout>
  </appender>

  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\CreateCtrl\YODA\Rest\log\General.log"/>
    <param name="AppendToFile" value="true"/>
    <datePattern value="yyyyMMdd"/>
    <rollingStyle value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss.fff} %-12c{1} %m%n"/>
    </layout>
  </appender>

  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss.fff} %-12c{1} %m%n"/>
    </layout>
  </appender>

</log4net>
